<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div id="calendar">
	
</div>
<script>
	$(document).ready(function() {

  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    events: '/events.json',

  eventClick: function(calEvent, jsEvent, view) {

        alert('Event: ' + calEvent.title);
        alert('View: ' + view.name);

        // change the border color just for fun
        $(this).css('border-color', 'red');

    }

})});

</script>